.icon:hover {
    background-color: rgb(250, 25, 25);
  }
  .footer-menu {
    color: black;
   text-decoration: none;
   list-style-type: none;
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-menu:hover {
    color: red;
  }
  .footer-input {
    padding: 8px;
    border: none;
    outline: none;
    background-color: white;
  }
  .footer-container {
    background-image: url(../../images/footer-background.jpg);
    padding: 50px;
    color: black
  }
  .right-footer-container button{
    background-color:rgb(13, 110, 253);
    color: white;
  }
  .right-footer-container button:hover{
    background-color: rgb(13, 135, 235);
    color:whitesmoke;
  }
  .reserved{
   margin-top: 5px;
  }

  
